.math-editor {

    ul {
        margin: 0;
    }

    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 800px;
    height: 500px;

    .symbols-panel {
        flex: 1 40%;
        border: 1px solid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        li {
            min-width: 3em;
            min-height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: grey;
                cursor: pointer;
            }

        }

    }

    .input-area {
        flex: 1 10%;
        padding: 0.5em;
        font-size: 1em;
    }

    .preview {
        flex: 1 50%;
        padding: 0.5em;
    }
}