.cart
  .basket 
    border-radius 10px
    background #eee
    padding 4px
    border 2px solid #fff
  .dragging
    border 2px dashed #777
  .drag-enter
    background #ccc

.quick-search-home
  min-width 954px
  max-width 1400px
  text-align center
  margin 20% auto
  h1
    font-size 42px
    font-family inherit
    font-style normal
    margin-bottom 20px

.quick-search-bar
  text-align center

.quick-search-bar p
  text-align left
  
